.cursos-container {
    padding: 50px 80px;
    background:var(--verde);
      
}
.cursos {
    font-size: 64px;
    margin: 100px 0px 30px 0px;
}
.cursos > span {
    color: var(--branco);

}
dt {
    background: var(--branco);
    border-radius: 5px;
    font-size: 24px;
    padding: 15px 20px;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 50px 0px 50px;   
    cursor: pointer;
}

dt::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--verde);
    border-radius: 50%;
    right: 20px;
    transition: .5s;
}

dt.activeAccordion::before {
    height: 5px;
    width: 30px;
    border-radius: 5px;
    background: var(--preto);
}

.cursos-accordion dd {
    display: none;
    padding: 0px 20px 30px 20px;
    background: var(--branco);
}

.cursos-accordion dd.activeAccordion {
    display: block;
    animation: slideDown .3s forwards;
    margin: -5px 50px 40px 50px;
    border-radius: 5px;
}

dd p {
    padding: 5px 0px;
    color: var(--preto);
    font-size: 16px;
}

dd a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--verde);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 20px 0px;
}

@keyframes slideDown {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

