.cursos-container {
    padding: 50px 80px;
    
      
}
.cursos {
    color: var(--preto);
    font-size: 64px;
    margin: 100px 0px 30px 0px;
}
.cursos > span {
    color: var(--verde);

}

.cursos-accordion {
    margin: 50px 0px 50px 0px;
}
dt {
    color: var(--preto);
    border-radius: 5px;
    font-size: 42px;
    font-weight: bold;
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 30px 50px 30px 300px;   
    cursor: pointer;
}

dt .seta-accordion {
    transition: .2s;
}

dt.activeAccordion .seta-accordion {
    transform: rotate(-180deg);
    transition: .2s;
}

/* dt::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--verde);
    border-radius: 50%;
    right: 20px;
    transition: .5s;
}

dt.activeAccordion::before {
    height: 5px;
    width: 30px;
    border-radius: 5px;
    background: var(--preto);
} */

.cursos-accordion dd {
    display: none;
    padding: 0px 20px 30px 300px;
}

.cursos-accordion dd.activeAccordion {
    display: block;
    animation: slideDown .3s forwards;
    margin: -5px 200px 40px 0px;
    border-radius: 5px;
}

dd p {
    padding: 5px 0px;
    color: var(--preto);
    font-size: 24px;
}

dd a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--preto);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding: 20px 0px;
}


