.cursos-container {
      padding: 50px 80px;
      background: var(--preto);
}

.cursos {

}
/*titulo*/
#cursos {
    font-size: 64px;
    color: var(--branco);
}

#cursos > span {
    color: var(--verde);
}
/*titulo*/

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion_item {
    border-radius: 5px;
}
.accordion_header {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background: var(--branco);
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.accordion_header::before {
    content: "";
    height: 10px;
    position: absolute;
    width: 10px;
    background: var(--verde);
    border-radius: 50%;
    right: 0px;
    margin: 10px;
}


