.experiencia {
    background: var(--verde);
    padding: 200px 80px;
}

.experiencia h2{
    font-size: 64px;
}

.experiencia h2 > span {
    color: var(--branco);
}

.experiencia p {
    font-size: 24px;
}