.menu {
    display: flex;
    justify-content: space-between;
    background: var(--preto);
    align-items: center;
    padding: 15px 80px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

}

.menu-logo {
    color: var(--branco);
    font-size: 48px;
    font-weight: bold;
}

.menu-logo > span {
    color: var(--verde);
}

.menu-list {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.menu-hamburguer{
    display: none;
}

.menu-item {
    color: var(--branco);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

/*
.menu-hamburguer {
    display: none;
} */

@media (max-width: 900px) {

    .menu-hamburguer {
        display: block;
        cursor: pointer;
    }
    .menu-list {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        height: 0px;
        visibility: hidden;
        transition: .6s;
        background: var(--preto);
        z-index: 2;
        overflow-y: hidden;
    }
    
    nav.ativo .menu-list{
        display: block;
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
        padding-top:50px ;
    }

    .menu-list li  {
        padding: 1rem ;
        
    }



}



