.sobre-container {
    padding: 50px 80px;
    background: var(--preto);

}

.sobre {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 70px;
    align-items: center;

}

.sobre li {
    max-width: 500px;
    min-height: 300px;
    padding: 20px;
    border-radius: 5px;
    
}

.sobre-container h2 {
    font-size: 64px;
    text-transform: uppercase;
    color: var(--branco);
    margin: 20px;
}

.sobre li h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.48px;
    font-weight: bold;
    color: var(--branco);
    margin: 5px 0 5px 0;
}

.sobre li p {
    color:var(--cinza);
    font-size: 16px;
    letter-spacing: 0.8px;
}

.sobre-container span {
    color: var(--verde);
}

@media (max-width: 1000px) {

    .sobre {
        flex-direction: column;
        align-items: center;
    }

    .sobre li {
        max-width: 100%;
        min-width: 100%;
    }


}