@import 'menu.css';
@import 'home.css';
@import 'sobre.css';
@import 'cursos.css';
@import 'experiencia.css';

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    background: none;
    border: none;
}

:root {
    --verde: #aeff00 ;
    --preto: #000;
    --branco: #fff;
    --cinza: #F8F8F8;
    --azul-forte:#14213D;
}

body {

    height: 3000px;
    
}

.js-scroll {
    opacity: 0;
    transition: .5s;
    transform: translate3d(-30px, 0, 0);
}

.js-scroll.animarEntrada{
    opacity: 1;
    transform: translate3d(0, 0, 0);

}
